/* COLORS */
:root {
  --red: #db0011;
  --darkred: #430a0a;
  --red-gradient: #872828;
  --black: #111111;
  --white: #ffffff;
  --silver: #8f8f8f;
  --silver-gradient: #abb3b4;
  --coconut: #c37703;
  --cherry: #ff0000;
  --rainbow1: #df3333;
  --rainbow2: #fafe25;
  --rainbow3: #0075ff;
  --rainbow4: #19fd05;
  --rainbow5: #c853ff;
  --rainbow6: #e111a7;
  --mango: #ff9737;
  --pineapple1: #f9ef00;
  --pineapple2: #96cf38;
  --lemon: #ffea28;
}

/* FULL SITE */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  height: -webkit-fill-available;
}

.wrapper {
  display: flex;
  max-width: 1920px;
}

#main-page {
  background: url(./backgrounds/background-1.png), var(--black);
  background-size: cover;
  background-repeat: no-repeat;
}

/*  FONTS */
h1 {
  margin: 0;
  color: var(--white);
  text-align: center;
  text-shadow: 4px 3px 0px var(--darkred);
  font-family: Walter Turncoat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 57.6px;
  letter-spacing: -1.28px;
}

.subtitles h1 {
  font-size: 60px;
}

.current-flavors h1 {
  font-size: 36px;
  text-shadow: 4px 4px 0px var(--darkred);
}

.our-menu .top-text h1 {
  color: var(--darkred);
  text-shadow: 4px 3px 0px var(--white);
}

.menu h1 {
  font-size: 32px;
  margin-bottom: 15px;
  margin-top: 25px;
  line-height: 40px;
  text-shadow: 3px 3px 0px var(--darkred);
}

h2,
h3 {
  color: var(--white);
  text-align: center;
  font-family: Cuprum;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
}

h3 {
  font-size: 18px;
  line-height: 25.2px;
}

p {
  color: var(--white);
  text-align: center;
  font-family: Cuprum;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  word-spacing: 1px;
  margin-left: 120px;
  margin-right: 120px;
}

.our-menu .top-text p {
  color: var(--darkred);
}

.menu p {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: Khand;
  font-size: 24px;
  font-style: normal;
  text-shadow: 0px 4px 4px #000;
  line-height: 31.2px;
}

a:hover,
a:focus {
  color: var(--darkred);
  text-shadow: 2px 0px 3px var(--white);
}

a:focus {
  border: 1% solid var(--white);
}

.left-links a {
  font-size: 18px;
  line-height: 25.2px;
}

.credit p {
  font-size: 12px;
}

/* LISTS */
ul {
  list-style: none;
}

.left-links ul li {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* SECTIONS */
.landing-page,
.about-us,
.our-menu,
.flavors {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.top-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-card {
  position: absolute;
  bottom: 0;
  background: url(./backgrounds/background-1.png), var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 6px 6px #000;
}

/* NAVIGATION */
.nav {
  position: absolute;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav img {
  height: 150px;
}

/* LANDING PAGE */
.subtitles1,
.subtitles2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 400px;
  top: 250px;
  align-items: center;
  justify-content: center;
  width: 450px;
}

.subtitles2 {
  right: 200px;
  top: 450px;
  width: 350px;
}

.als-truck img {
  position: absolute;
  width: 100%;
}

/* ABOUT US */
.about-us {
  background-color: var(--red-gradient);
  background-image: url(./backgrounds/albackgroundfaded\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.leftimage img {
  top: 0;
  left: 50px;
  position: absolute;
  z-index: 2;
}

.about-us .right {
  margin-top: 8%;
  height: 90%;
}

.about-us .bottom-card {
  width: 100%;
  height: 35%;
  padding: 70px;
}

.bottom-card img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* OUR MENU */
.our-menu {
  background-color: var(--silver-gradient);
  background-repeat: no-repeat;
}

.our-menu .top-text {
  padding: 100px;
  margin-left: 375px;
  margin-right: 375px;
}

.our-menu .top-text p {
  margin-bottom: 0px;
}

.pbottom {
  padding-bottom: 50px;
}

.menu-btn {
  background-color: var(--darkred);
  color: var(--white);
  border: none;
  border-radius: 25px;
  font-family: Cuprum;
  font-size: 40px;
  line-height: 40px;
  padding: 20px;
  box-shadow: 0px 4px 4px #000;
}

.menu-btn:hover {
  opacity: 1;
  background-color: var(--white);
  color: var(--darkred);
}

#wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: -100px;
}

.our-menu .bottom-card {
  width: 40%;
  height: 35%;
  padding: 50px;
  margin: -80px;
}

#tacos,
#chicken {
  position: absolute;
}

#tacos {
  margin-right: -200px;
  bottom: 10px;
  right: -100px;
}

#chicken {
  margin-top: -150px;
  top: -10px;
  left: 75px;
}

.catering-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catering-info img {
  position: relative;
  width: 75%;
}

/* MENU MODAL */
.menu {
  border: none;
  border-radius: 25px;
  background: linear-gradient(
    180deg,
    var(--red-gradient) 0%,
    var(--darkred) 100%
  );
  background-repeat: no-repeat;
}

.menu table {
  margin-bottom: 75px;
}

th {
border-bottom: solid;
border-color: var(--black);;
}

.menu::backdrop {
  background: var(--black);
  opacity: 80%;
}

.close-btn {
  background-color: var(--black);
  color: var(--white);
  border: none;
  font-family: Cuprum;
  font-size: 30px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #000;
}

.close-btn:hover {
  opacity: 1;
  background-color: var(--white);
  color: var(--darkred);
}

/* AL'S WATER ICE */
.flavors {
  background: linear-gradient(
    180deg,
    var(--red-gradient) 0%,
    var(--darkred) 100%
  );
  background-repeat: no-repeat;
  z-index: -2;
}

.flavors .left,
.flavors .right {
  margin-top: 125px;
}

.current-flavors {
  background: url(./backgrounds/background-1.png), var(--black);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0px 4px 6px #000;
}

.current-flavors p {
  margin: 0;
}

span {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;
}

span.coconut {
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--white) 30%,
    var(--coconut) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.cherry {
  color: var(--cherry);
}

span.rainbow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--rainbow1) 0%,
    var(--rainbow2) 8.58%,
    var(--rainbow3) 34.9%,
    var(--rainbow4) 60.08%,
    var(--rainbow5) 87.19%,
    var(--rainbow6) 94.38%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.mango {
  color: var(--mango);
}

span.pineapple {
  background: radial-gradient(
    50% 50% at 50% 50%,
    var(--pineapple1) 30%,
    var(--pineapple2) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.lemon {
  color: var(--lemon);
}

/*  FOOTER */
footer {
  background: var(--black);
  width: 100%;
}

.left-links,
.right-links,
.center-links {
  position: relative;
  width: 100%;
  height: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.center-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials,
.socials a {
  display: flex;
  justify-content: center;
  width: 40%;
}

.socials img {
  width: 30%;
}

.address {
  margin: 3%;
}

.right-links h3,
.right-links p {
  margin: 0;
}