/*  Colors */
:root {
  --red: #db0011;
  --darkred: #430a0a;
  --red-gradient: #872828;
  --blue: #76aeb5;
  --blue-gradient: #c4e4e8;
  --black: #111111;
  --white: #ffffff;
  --silver: #8f8f8f;
  --silver-gradient: #abb3b4;
  --coconut-brown: #c37703;
  --cherry: #ff0000;
  --rainbow1: #df3333;
  --rainbow2: #fafe25;
  --rainbow3: #0075ff;
  --rainbow4: #19fd05;
  --rainbow5: #c853ff;
  --rainbow6: #e111a7;
  --mango: #ff9737;
  --pineapple1: #f9ef00;
  --pineapple2: #96cf38;
  --lemon: #ffea28;
}

/* Full Site */
body {
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  max-width: 1920px;
}

/*  Fonts */
.light {
  color: var(--white);
}
.dark {
  color: var(--darkred);
}

/* Heading 1 */
h1 {
  font-family: Koulen;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 125px; /* 130.208% */
}

/* Heading 2 */
h2 {
  font-family: Khand;
  font-size: 28px;
  font-style: normal;
  text-shadow: 0px 4px 4px var(--black);
}

/* Heading 3 */
h3 {
  font-family: Khand;
  font-size: 20px;
  font-style: normal;
  text-shadow: 0px 4px 4px var(--black);
}

/* Paragraph */
p {
  font-family: Exo;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px /* 208.333% */;
}

/* Links */
a {
  text-decoration: none;
  color: var(--white);
  font-family: Khand;
  font-size: 28px;
  font-style: normal;
  text-shadow: 0px 4px 4px #000;
}

/* Navigation */
.sidenav {
  width: 15%;
  position: relative;
  top: 0;
}

.sidenav ul li {
  list-style: none;
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 30px;
}

/* Landing Page */
.landing-page {
  position: relative;
  width: 100vw;
  background: url(./images/Landing\ Background.png), var(--black);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-effect {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.center {
  width: 50vw;
  display: grid;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center img {
  width: 75%;
  justify-content: center;
}

.subtitles {
  width: 100%;
  position: relative;
  bottom: 5%;
  text-align: center;
}

.bg {
  position: absolute;
  z-index: 0;
}

/* About Us */
.about-us {
  background: linear-gradient(
    180deg,
    var(--red-gradient) 0%,
    var(--darkred) 100%
  );
}

/* Catering Information */
.catering-info {
  background: linear-gradient(
    180deg,
    var(--silver) 0%,
    var(--silver-gradient) 100%
  );
}

/* Flavors of The Month */
.flavors-of-the-month {
  background: linear-gradient(
    180deg,
    var(--red-gradient) 0%,
    var(--darkred) 100%
  );
}

/*  Footer */
footer {
  background: url(./images/Footer\ Border.svg);
  width: 100%
}
